html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.player__button {
  background:none;
  border:0;
  line-height:1;
  color:white;
  text-align: center;
  outline:0;
  padding: 0;
  cursor:pointer;
  max-width:50px;
}
