@import "../../styles/core/settings";
@import '../../styles/core/mixins';

.catalog-page {

}
.player__slider {
  width:10px;
  height:30px;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #777;
  background-color: #fff;
  line-height: 26px;
}
